<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bclass"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="bclassMain.BrightApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="bclassMain.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bclassTeacher.TVoteActivity"
            android:label="@string/title_activity_tvote" >
        </activity>
        <activity
            android:name="bclassStudent.StudentActivity"
            android:label="@string/title_activity_student" >
        </activity>
        <activity
            android:name="bclassTeacher.TeacherActivity"
            android:label="@string/title_activity_teacher" >
        </activity>
        <activity
            android:name="bclassMain.NewVoteActivity"
            android:label="@string/title_activity_newvote" >
        </activity>
        <activity
            android:name="bclassMain.GoVoteActivity"
            android:label="@string/title_activity_go_vote" >
        </activity>
        <activity
            android:name="bclassStudent.SVoteActivity"
            android:label="@string/title_activity_svote" >
        </activity>
        <activity
            android:name="bclassMain.NewExamActivity"
            android:label="@string/title_activity_new_exam" >
        </activity>
        <activity
            android:name="bclassTeacher.TExamActivity"
            android:label="@string/title_activity_texam" >
        </activity>
        <activity android:name="noteSystem.NoteActivity" >
        </activity>
        <activity
            android:name="bclassStudent.NewAdviseActivity"
            android:label="@string/title_activity_new_advise" >
        </activity>
        <activity
            android:name="bclassTeacher.ShowAdviseActivity"
            android:label="@string/title_activity_show_advise" >
        </activity>
        <activity
            android:name="bclassMain.ShowVoteActivity"
            android:label="@string/title_activity_show_vote" >
        </activity>
        <activity
            android:name="bclassMain.ShowExamActivity"
            android:label="@string/title_activity_show_exam" >
        </activity>
        <activity
            android:name="bclassMain.GoExamActivity"
            android:label="@string/title_activity_go_exam" >
        </activity>
        <activity
            android:name="bclassStudent.SExamActivity"
            android:label="@string/title_activity_sexam" >
        </activity>
    </application>

</manifest>
